html, body{
  font-family: 'Montserrat', sans-serif;
  font-size:16px;
  font-weight:300;
  line-height:1.4;
}

.container{
  max-width:1280px;
  margin:0 auto;
}

.flex{
  display:flex;
}

/* -------------------- header -------------------*/

header{
  background-color: #ffffff;
  display:block;
  width:100%;
  position:fixed;
}

.navigation{
  display:flex;
  align-items: center;
  height:64px;
}

.logo{
  display:flex;
  flex-grow:1;
  align-items: center;
  margin-left:24px;
}

.logo img{
  height:48px;
  margin-right:6px;
}

.logo span{
  font-size:1.4rem;
  color:#999999;
}

.logo span .colmar{
  color: #000000;
}

nav ul li{
  display:inline-block;
  padding-right:16px;
}

nav a{
  text-decoration: none;
  color:#999999;
}

/* -------------------- banner -------------------*/

#banner{
  background-color:#eeeeee;
  padding-top:64px;
}

#banner .flex{
  align-items: center;
}

.left{
  width:60%;
  padding:32px 24px;
}

.left img{
  width:100%;
}
.right{
  width:423px;
  padding-left:16px;
  padding-right:32px;
}

.right h1{
  font-size:2.5rem;
  font-weight:500;
  color:#555555;
}

.right h4{
  font-size:1.4rem;
  margin-top:1rem;
  color:#555555;
}

.start-here{
  display:block;
  width:80%;
  text-decoration: none;
  color:white;
  background-color:#555555;
  padding:8px 0;
  text-align:center;
  margin-top:1.5rem;
  font-size:1.2rem;
}

/* -------------------- featured -------------------*/


.smallcards{
  width:423px;
  display:flex;
  flex-direction:column;
  border-left:1px solid #eeeeee;
  padding-top:16px;
  padding-bottom:16px;
  padding-right:32px;
}

.smallcard{
  display:flex;
  align-items: center;
}

.smallcard img{
  width:35%;
  height:auto;
  padding:16px;
}

h2{
  font-size:2rem;
  font-weight:500;
  color:#555555;
  padding:0;
  margin-top:32px;
}

p.writer{
  color:#555555;

}

p{
  font-size:0.9rem;
  color:#999999;
  line-height:1.6;
  margin-top:24px;
  margin-bottom:0;
  padding-bottom:0;
}

h3{
  font-size:1.4rem;
  font-weight:500;
  color:#555555;
  padding:0;
  margin:0;
}

.smallcard p{
  margin:0;
}

.card{
  display:block;
  text-decoration: none;
  font-size:0.88rem;
  color:skyblue;
  margin-top:24px;
}

.smallcard:hover{
  background-color:#ebebeb;
}

/* -------------------- learn -------------------*/
#learn{
  background-color: #eeeeee;
  padding:32px 0;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#learn h2{
  padding-bottom: 16px;
  margin:0;
}

.flex.bigcards{
  flex-wrap:wrap;
  justify-content: center;
}

.bigcard{
  background-color: white;
  width:300px;
  margin:16px;
}

.bigcard img{
  width:300px;
  height:auto;
}

.bigcard div{
  text-align: left;
  padding:16px 32px 24px 16px;
}

.bigcard p{
  padding-top:8px;
  margin:0;
}

/* -------------------- thesis -------------------*/

#thesis{
  padding:32px 0;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#thesis h2{
  padding:0;
  margin:0;
}

.left video{
  width:100%;
}

#thesis .left h3{
  margin-top:24px;
}

#thesis .smallcards{
  border-left:none;
}


/* -------------------- footer -------------------*/

footer{
  justify-content: space-between;
  border-top:1px solid #999999;
  height:50px;
  align-items: center;
  padding-bottom:50px;
  padding-left:24px;
  padding-right:24px;
}

footer span,a{
  font-size:0.9rem;
  color:#999999;
}

footer a{
  text-decoration: none;
  display:inline-block;
  padding:0 8px;
}

/* -------------------- Media queries -------------------*/
