html, body{
  font-family: 'Montserrat', sans-serif;
  font-size:16px;
  font-weight:300;
  line-height:1.4;
}

.container{
  max-width:1280px;
  margin:0 auto;
}

.flex{
  display:flex;
}

/* -------------------- header -------------------*/

header{
  background-color: #ffffff;
  display:block;
  width:100%;
  position:fixed;
}

.desktop-navigation{
  display:flex;
  align-items: center;
  height:64px;
}

.mobile-navigation{
  display:none;
}

.logo{
  display:flex;
  flex-grow:1;
  align-items: center;
  margin-left:24px;
}

.logo img{
  height:48px;
  margin-right:6px;
}

.logo span{
  font-size:1.4rem;
  color:#999999;
}

.logo span .colmar{
  color: #000000;
}

nav ul li{
  display:inline-block;
  padding-right:16px;
}

nav a{
  text-decoration: none;
  color:#999999;
}

/* -------------------- banner -------------------*/

#banner{
  background-color:#eeeeee;
  padding-top:64px;
  width:100%;
}

#banner .flex{
  align-items: center;
}

.left{
  width:60%;
  padding:32px 24px;
}

.left img{
  width:100%;
}

.right{
  flex:0 0 423px;
}

.right div{
  padding-left:16px;
  width:80%;
}

.right h1{
  font-size:2.2rem;
  font-weight:500;
  color:#555555;
  line-height: 2.6rem;
}

.right h4{
  font-size:1.2rem;
  margin-top:1rem;
  color:#555555;
}

.start-here{
  display:block;
  width:90%;
  text-decoration: none;
  color:white;
  background-color:#555555;
  padding:8px 0;
  text-align:center;
  margin-top:1.2rem;
  font-size:1.1rem;
}

/* -------------------- featured -------------------*/


.smallcards{
  flex:0 0 423px;
  display:flex;
  flex-direction:column;
  padding-top:16px;
  padding-bottom:16px;
  border-left: 1px solid #eeeeee;
}

.smallcard{
  display:flex;
  align-items: center;
  padding-right:16px;
}

.smallcard img{
  width:35%;
  height:auto;
  padding:16px;
}

.mobile-image{
  display:none;
}

h2{
  font-size:1.8rem;
  font-weight:500;
  color:#555555;
  padding-top:32px;
  margin-top:0px;
}

p.writer{
  color:#555555;

}

p{
  font-size:0.85rem;
  color:#999999;
  line-height:1.6;
  margin-top:20px;
  margin-bottom:20px;
}

h3{
  font-size:1.2rem;
  font-weight:500;
  color:#555555;
  padding:0;
  margin:0;
}

.smallcard p{
  margin:0;
}

.card{
  display:block;
  text-decoration: none;
  font-size:0.88rem;
  color:skyblue;
  margin-top:24px;
}

.smallcard:hover{
  background-color:#ebebeb;
}

/* -------------------- learn -------------------*/
#learn{
  background-color: #eeeeee;
  padding:32px 0;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#learn h2{
  padding-bottom: 16px;
  margin:0;
  padding-top:0;
}

.flex.bigcards{
  flex-wrap:wrap;
  justify-content: center;
}

.bigcard{
  background-color: white;
  width:300px;
  margin:16px;
}

.bigcard img{
  width:300px;
  height:auto;
}

.bigcard div{
  text-align: left;
  padding:16px 32px 24px 16px;
}

.bigcard p{
  padding-top:8px;
  margin:0;
}

/* -------------------- thesis -------------------*/

#thesis{
  padding-top:32px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#thesis h2{
  padding:0;
  margin:0;
}

.left video{
  width:100%;
}

#thesis .left h3{
  margin-top:24px;
}

#thesis .smallcards{
  border-left:none;
}


/* -------------------- footer -------------------*/

footer{
  justify-content: space-between;
  border-top:1px solid #999999;
  height:50px;
  align-items: center;
  padding-bottom:50px;
  padding-left:24px;
  padding-right:24px;
}

footer span,a{
  font-size:0.9rem;
  color:#999999;
}

footer a{
  text-decoration: none;
  display:inline-block;
  padding:0 8px;
}

/* -------------------- Media queries -------------------*/

@media only screen and (max-width:960px){
  .right h1{
    font-size:1.8rem;
    line-height: 2.2rem;
  }

  .right h4{
    font-size:1rem;
    margin-top:0.8rem;
  }

  .start-here{
    margin-top:1rem;
    font-size:0.9rem;
  }

  .right{
    flex:0 0 360px;
  }

  .smallcards{
    flex:0 0 360px;
  }

  h2{
    font-size:1.5rem;
    padding-top:16px;
  }


  .card{
    margin-top:12px;
  }

}

@media only screen and (max-width:664px){

  .desktop-navigation{
    display:none;
  }

  .mobile-navigation{
    display:flex;
    align-items: center;
    height:64px;
    justify-content: space-around;
  }

  #banner .flex{
    flex-wrap:wrap;
  }

  #banner .left{
    width:100%;
    height:180px;
    padding:0;
    overflow:hidden;
  }

  .right{
    flex:0 1 100%;
    margin: 32px 16px 32px 16px;
  }

  .right div{
    padding-left:0px;
    width:100%;
  }

  .start-here{
    width:100%;
  }

  #featured .left{
    display:none;
  }

  .desktop-image{
    display:none;
  }

  .mobile-image{
    display:inline;
  }

  .smallcards{
    flex:0 1 100%;
    padding:0px;
    margin-top:16px;
    margin-bottom:16px;
    border-left: none;
  }

  .smallcard{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    padding:0 0 16px 0;
    margin:0 16px 16px 16px;
  }

  .smallcard img{
    width:100%;
    height:auto;
    padding:0;
  }

  .smallcard div{
    margin-left:16px;
    margin-top:16px;
  }

  #learn{
    background-color: #ffffff;
    border-top:1px solid #eeeeee;
    border-bottom:1px solid #eeeeee;
  }

  .flex.bigcards{
    flex-wrap:none;
    justify-content: center;
  }

  .bigcard{
    background-color: white;
    width:100%;
    margin:8px 16px;
  }

  .bigcard img{
    display:none;
  }

  .bigcard div{
    background-color:#eeeeee;
    text-align: left;
    padding:16px 32px 16px 16px;
  }

  .bigcard p{
    display:none;
  }

  #thesis .smallcards{
    display:none;
  }

  #thesis h3, p{
    display: none;
  }

  #thesis .left{
    width:100%;
    padding:0;
    margin-bottom:24px;
  }

  footer div{
    display:none;
  }

  footer span{
    padding:16px 0;
  }

  footer{
    border-top:none;
    height:auto;
    align-items: center;
    padding-bottom:0;
    padding-left:24px;
    padding-right:24px;
  }

}
